@import '../../SCSS/mixins.scss';
.formContainer {
  @include center();
  flex-direction: column;
  width: max-content;
  align-items: flex-start;

  .form {

    .label {
      font-size: 2rem;
    }
    .input {
      font-size: 2rem;
    }
    .helperText {
      font-size: 1.5rem;
    }
}
  }
