@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
// FONTS
$fontFam: 'Lato', sans-serif;

// COLORS
$primary: 'blue';
$secondary: 'hotpink';
$white: 'white';

// BORDERS FOR TESTING
$showMe: 1px solid blue;
$showMe2: 1px solid hotpink;
$showMe3: 1px solid limegreen;
